body{

    background-color: #1E252B;
}
.wrapper{
    margin: 0 auto;
    width: 70%;

}

.wrapper h1{
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 64px;
    width: 90%;
    margin-top: 150px;
    text-align: center;
}
.wrapper #tutor-me{
    color: #3461FF;
}
.wrapper p{
    padding:0 10px;
    line-height: 1em;
    margin-bottom: 100px;
    font-size: 24px;

}
.button-container{
  text-align: center;

}
button{
    padding: 10px 60px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    width: 250px;
    position: relative;
    left: 30%;
    font-size: 20px;
    font-weight: 500;

}
.wrapper .login{
      background-color: #E5E5E5;
      color: #1E252B;
}
.wrapper .login:hover{
    background-color: #575656;
    color: white;
}
.wrapper .register:hover{
    background-color: rgb(15, 15, 65);
    color: white;
}
.wrapper .register{
    background-color:#3461FF;
    color: white;
}



